
@import "variables.less";
@import "global.less";



.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.contact-info {
    color: @font-color;
    font-size: @font-size-base;
    margin: 15px 0;
}

.idiomas-section, .intereses-section, .fecha-section {
    margin-top: 20px;
}

.idiomas-title, .intereses-title, .perfil-title, .formacion-title, .experiencia-title {
    font-size: @font-size-heading;
    color: @primary-color;
    margin-bottom: 10px;
}

.item {
    margin-bottom: 20px;
}
